RESTIC_REPOSITORY={{ ('sftp:' ~ restic_ssh_host ~ ':' ~ restic_repository_name if restic_ssh_enabled else restic_repository) | to_json }}
RESTIC_PASSWORD_FILE={{ restic_password_file | to_json }}
{% if restic_aws_access_key_id | length > 0 %}
AWS_ACCESS_KEY_ID={{ restic_aws_access_key_id | to_json }}
AWS_SECRET_ACCESS_KEY={{ restic_aws_secret_access_key | to_json }}
{% endif %}
